/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}


/* Header CSS classes */
.container {
  display: flex;
  align-items: center;
  /* border: black 1px solid; */
}

.container-header {
  justify-content: space-evenlyss;
}

.flex-header {
  flex: 1;
}

.flex-header-h1 {
  text-align: right;
}

.flex-header-nav {
  text-align: left;
}


/* About CSS classes */
.about-text {
  text-align: left;
}

/* Portfolio CSS classes*/
.portfolio-container {
  display: flex;
}

.portfolio-item {
  flex: 1;
  margin: 10px;
  align-items: center;
  /* border: #d62828 1px solid; */
}

.proj-desc {
  font-size: 14px;
}